*{
    box-sizing: border-box;
}
body{
    font-family: 'Josefin Sans', sans-serif; 
    /* background-image: url(./images/bg-pattern-desktop.svg); */
    /* height: 26rem; */
    /* width: 48rem;; */
    
    
}
.main{
    display: flex;
    height: 26rem;
    width: 48rem;
    border: 1px solid black;
    background-image: url(./images/bg-pattern-desktop.svg);
}
.onei{
    display: flex;
    flex-direction: column;
    height: 30rem;
    width: 28rem;
    /* background-color: blue; */
    padding: 2rem 5rem;
    /* justify-content: space-between; */
    

}.two{
    height: 20rem;
    width: 20rem;
}.r{
    height:26rem;
    width: 20rem;
}
input{
    border-radius: 20px;
    border: 1px solid brown;
    height: 2rem;
    width: 17rem;
    color: brown;
    z-index: 1;
    position: relative;
    /* padding-top: 5rem; */

}
.input{
margin-top: 1rem;
}
.capital{
    height: 8rem;
    width: 20rem;
    /* background-color: blue; */
    font-size: 15px;
    letter-spacing: 1.5rem;
    display: flex;
     flex-direction: column;
    /* justify-content: space-between;  */
    /* border: 1px solid black; */
    /* color: bisque; */
    margin-top: 2rem;
}
.small{
    font-size: 10px;
    margin-top: 2rem;
    color: bisque;
}.background{
    height: 2rem;
    width: 4rem;
    border-radius: 17px;
    background-color: rgb(252, 226, 226);
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* z-index: 1;
    position: relative; */
}
.line{
    display: flex;
    flex-direction: row;
    /* z-index: 1;
    position: relative; */
}
.l{
    display: flex;
    flex-direction: row;
    z-index: 1;
    position: relative;
    margin-left: -3rem;
}
.last{
    font-size: 10px;
}
.logo{
    height: 1rem;
    width: 1rem;
    margin-top: 0.5rem;
}
.w{
    color: bisque;
}
.f{
    height: 1.5rem;
    margin-top: -2rem;
}
.c{
    margin-top: 0.5rem;
}
.active{
    
}