*{
    box-sizing: border-box;
}
body{
    font-family: 'Josefin Sans', sans-serif; 
    /* height: 80rem; */
    /* width: auto; */
}
.main{
    display: flex;
    height: 26rem;
    width: 48rem;
    border: 1px solid black;
}
.onei{
    display: flex;
    flex-direction: column;
    height: 30rem;
    width: 28rem;
    /* background-color: blue; */
    padding: 2rem 5rem;
    /* justify-content: space-between; */
    

}.two{
    height: 20rem;
    width: 20rem;
}.r{
    height:25rem;
    width: 20rem;
}
input{
    border-radius: 10px;
    border: 1px solid brown;
    height: 2rem;
    /* padding-top: 5rem; */
}